*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
}
nav {
    height: 50px;
    padding: 8px 0px 8px 0px; 
    
}
a{
    text-decoration: none;
    padding-left: 15px;
    color: #000;
    font-size: 20px;
}
a:hover{
    color: #98ddca;
}

aside{
    width: 30%;
    height: 80em;
    background:#d8e3e7;
}
.cont-juegos{
    width: 70%;
    margin: auto;
}
.imagen-juegos{
    width: 100%;
    height: 170px;
    border-radius: 20px;    
}

h3{
    text-align: center;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
}
/*------------------inicio main-------------*/
main{
    width: 70%;
    height: 60em;
    background-color:#000 ;
}
h1{
    color: #fff;
    text-align: center;
}
.img-principal{
    width: 100%;
    height: 40em;
    padding: 80px;
    }
.main-imagen{
    width: 100%;
}
h3{
    color: #fff;
    font-size: 25px;
}
.play-parrafo{
    color: #fff; 
    margin: auto;  
    width: 72%;
    margin-bottom: 50px;
    }

.cont-imagenes{
    width: 100%;
    display:flex; 
    justify-content: space-around;
    background-color: #fff;
}
.stay-home{
    width: 250px;
    margin-top: 25px;
    
}
.juegos-ps{
    width: 100%;
    height: 150px;
}
.text-color{
    color: #000;
}
/*--------------------------------fin main------------------------------*/
/*--------------------------------inicio footer------------------------*/
footer{
    width: 100%;
    height: 220px;
    background-color: #000;
}
.icono{
    height: 150px;
    width: 20%;

}
.icono-ps{
    height: 100%;
}
.cont-footer{
    display:flex;
}
.container-redes{
    width: 250px;
}
.texto{
    color: #fff;; 
}
.info{
    width: 600px;
    margin-left: 100px;
}
.img-sociales{
    width: 50px;
    margin-top: 50px;
    border-radius: 30px;
}
.texto-copy{
    color: red;
    margin-left: 20px;
    font-size: 20px;
    font-style:italic;
    text-align: center;
}

/* Version Movil */

@media (max-width: 400px) and (orientation: portrait) {
    .container{
    width: 100%;
    
    display: flex;
    flex-direction:column;
    }
    main{
    width: 100%;
    height: 50em;
    order: 1;
    }
 
h3{
    padding: 20px;
}
.img-principal{
    height: 15em;
    width: 25em;
    padding: 20px;
}
.main.imagen{
    width: 25em;
    } 
.cont-juegos{
    width: 80%;
} 
.cont-parrafo{
    margin-top: 10px;
}
.cont-imagenes{
    background-color: aqua;
    height: 70em;
    display: flex;
    flex-direction: column;
    order: 2;
}
.stay-home{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    }
    aside{
        width:100%;
        height: 60em;
        order: 2;
    
    margin-bottom: 40px;
}
footer{
    height: 390px;
}
.icono-ps{
    width: 70px;
    height: 70px;
}
.img-sociales{
    width: 20px;
    margin-bottom: 10px;
}
.info{
    width: 800px;
}
.texto{
    font-size: 14px;
    }
img{
    display:inline-block;
    }
.texto-copy{
    margin-top: 20px;
    font-size: 14px;
}
}




























